<app-nav-juegos></app-nav-juegos>
<div class="container">
      <h1>Bienvenido a MixWord</h1>
      <p class="lead">¡Un juego para mezclar palabras!</p>
      <form>
        <div class="form-group">
            <br>
            <br>
          <label for="username">Ingresa codigo:</label>
          <input type="text" class="form-control" id="username" required>
        </div>
        <button type="button" class="btn btn-primary" (click)="comenzarJuego()">Comenzar</button>
      </form>
    </div>
