<!-- <mat-sidenav-container fullscreen> -->
<!-- <app-barra></app-barra> -->
<div class="container col-6 text-light">
  <h3>Crear Trivia</h3>
  <div>
    <span
      >Puede ingresar una pregunta, que se recomienda tenga respuestas cortas
      preferiblemente de una sola palabra, debe ingresar tres posibles
      respuestas, y solo una sera la correcta</span
    >
  </div>
  <hr />
  <form (submit)="crearPregunta()">
    <div class="form-group">
      <label for="pregunta">Nombre de la trivia:</label>
      <input
        type="text"
        class="form-control"
        id="nombreTrivia"
        [(ngModel)]="nombreTrivia"
        name="nombreTrivia"
        required
      />
    </div>
    <div class="form-group">
      <label for="pregunta">Pregunta:</label>
      <input
        type="text"
        class="form-control"
        id="enunciado"
        [(ngModel)]="enunciado"
        name="pregunta"
        required
      />
    </div>
    <div class="form-group">
      <label for="respuestaCorrecta">Respuesta numeo 1:</label>
      <input
        type="text"
        class="form-control"
        id="respuestaCorrecta"
        [(ngModel)]="respuestas[0]"
        name="respuestaCorrecta"
        required
      />
    </div>
    <div class="form-group">
      <label for="respuestaIncorrecta1">Respuesta numeo 2:</label>
      <input
        type="text"
        class="form-control"
        id="respuestaIncorrecta1"
        [(ngModel)]="respuestas[1]"
        name="respuestaIncorrecta1"
        required
      />
    </div>
    <div class="form-group">
      <label for="respuestaIncorrecta2">Respuesta numeo 3:</label>
      <input
        type="text"
        class="form-control"
        id="respuestaIncorrecta2"
        [(ngModel)]="respuestas[2]"
        name="respuestaIncorrecta2"
        required
      />
    </div>
    <div class="form-group">
      <label>Seleccione la respuesta Correcta:</label>
      <select
        class="form-control"
        [(ngModel)]="respuestaCorrecta"
        name="respuestaCorrecta"
      >
        <option *ngFor="let item of respuestas" [value]="item">
          {{ item }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear pregunta</button>
    <hr />
  </form>
</div>
<br />
<div class="container col-6 text-light">
  <ul>
    <li *ngFor="let pregunta of preguntas">
      <h3>{{ pregunta.enunciado }}</h3>
      <ul>
        <li *ngFor="let res of pregunta.respuestas" ngfor>{{ res }}</li>
      </ul>
    </li>
  </ul>
</div>

<!-- </mat-sidenav-container> -->
