<mat-card >
    <mat-card-header>
        <mat-card-title>Crucigrama</mat-card-title>
        <mat-card-subtitle>El crucigrama es un juego de palabras en el que se presentan casillas en blanco que deben llenarse con letras para formar palabras cruzadas. El objetivo es descifrar las pistas y completar todas las palabras tanto vertical como horizontalmente. Es un juego divertido que pone a prueba tu vocabulario y habilidades de resolución de problemas. ¡Desafía tu mente y disfruta de la emoción de encontrar las palabras correctas en el crucigrama!</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/crucigrama.png ">
    <mat-card-actions>
        <button mat-button color="warn" >
            Leer mas..
        </button>
        <button mat-button color="info">
            Jugar
        </button>
    </mat-card-actions>
</mat-card>
<mat-card >
  <mat-card-header>
      <mat-card-title>Preguntas</mat-card-title>
      <mat-card-subtitle>El juego consiste en que tinene 30 segundos para responder una pregunta, tendra tres opciones a selecccionar</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/crucigrama.png ">
  <mat-card-actions>
      <button mat-button color="warn" >
          Leer mas..
      </button>
      <button mat-button color="info">
          Jugar
      </button>
  </mat-card-actions>
</mat-card>
