<nav>
    <ul>
      <li><a routerLink="/invitado" routerLinkActive="active">Invitado</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registro" routerLinkActive="active">Registro</a></li>
    </ul>
  </nav>
  
  <div class="container">
    <h1>Juegos de Gamificación</h1>
    <div class="buttons">
      <button class="guest-button" routerLink="/registro">Registrate</button>
      <button class="login-button" routerLink="/login">Login</button>
    </div>
  </div>
  
  