<br />
<h1>Fomulario para Crear un Juego</h1>
<h1>Sopa de Letras o MixWords</h1>
<br />
<form [formGroup]="matchForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="state">Palabras:</label>
    <input
      type="text"
      id="state"
      formControlName="state"
      #stateInput
      (change)="convertToUpperCase($event)"
    />
    <button type="button" (click)="agregarPalabra(stateInput.value)">
      Agregar palabra
    </button>
  </div>

  <div *ngIf="palabras.length > 0">
    Palabras ingresadas: {{ palabras.join(", ") }}
  </div>
</form>
<br />
<br />
<div *ngFor="let mensaje of mensajes" class="mensaje">
  {{ mensaje }}
</div>
