<mat-sidenav-container fullscreen>
   
    <app-barra></app-barra>
    <!-- end Barra de herramienta -->
    <div class="container">


        <h1>Registro</h1>
        <div fxLayout="row" fxLayoutGap="40px " fxLayout.xs="column">
            <div fxFlex="50" fxLayout="column">
                <div fxLayout="row" fxLayoutGap="40px ">
                    <mat-form-field fxFlex="100">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" name="name" [(ngModel)]="user.name" required>
                      </mat-form-field>
                      
                      <mat-form-field>
                        <mat-label>Username</mat-label>
                        <input matInput type="text" [(ngModel)]="user.username" required>
                      </mat-form-field>
                </div>
                
                  <mat-form-field>
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" [(ngModel)]="user.password" required>
                  </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Tipo</mat-label>
                    <mat-select [(ngModel)]="user.student">
                      <mat-option [value]="true">Alumno</mat-option>
                      <mat-option [value]="false">Maestro</mat-option>
                    </mat-select>
                  </mat-form-field>
                
                <br>
                <!-- <button mat-raised-button color="primary">Guardar</button> -->
                <button mat-raised-button color="primary" (click)="guardarUsuario()">Guardar</button>

            </div>
            <div fxFlex="50">
                <img alt="">
            </div>
        </div>
    </div>
</mat-sidenav-container>