<!-- <mat-toolbar>
    <span class="example-spacer"></span>
    <span class="spacer"></span>
    <button mat-button [routerLink]="['/home']" >
      <mat-icon>home</mat-icon>
      Inicio
    </button>
    <button mat-button  [routerLink]="['/login']">
      Iniciar sesion
      <mat-icon>login</mat-icon>
    </button>                                                                                                   
    <button mat-button [routerLink]="['/registro']">
      Registrarse
      <mat-icon>account_circle</mat-icon>
    </button> 
    <button mat-button [routerLink]="['/welcome']">
      <mat-icon>power_settings_new</mat-icon>
    </button>    
  </mat-toolbar> -->
  <nav>
    <ul>
      <li><a routerLink="/jugar">Jugar</a></li>
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/registro" routerLinkActive="active">Registrarse</a></li>
    </ul>
  </nav>